<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
        <script src="/socket.io/socket.io.js"></script>
        <title>Tech Coup</title>
    </head>

    <body>
        <div id="app">
            <div class="container">
                <div class="col-lg-6 offset-lg-3">
    
                    <div v-if="ready">
                        <p v-for="user in info">
                            Jogador: {{user.username}} | Moedas: {{user.coins}}
                        </p>
                        <div class="float:right">
                        <button class="btn btn-primary" style="float:right" @click.prevent="sair()">Sair</button>
                        <button v-if="!jogoIniciado" class="btn btn-primary" style="float:right" @click.prevent="iniciar()">Iniciar jogo</button>
                        </div>

                    </div>    
                    <div v-if="!ready">
                        <h4>Entre com o Usuário</h4>
                        <form @submit.prevent="addUser">
                            <div class="form-group row">
                                <input type="text" class="form-control col-9" v-model="username"
                                    placeholder="Entre com o usuário aqui">    
                            </div>
                        <h4>Entre com o nome da Sala</h4>
                        <div class="form-group row">
                            <input type="text" class="form-control col-9" v-model="room"
                                placeholder="Entre com o nome da sala aqui">
                            <input type="submit" value="Join" class="btn btn-sm btn-info ml-1">
                        </div>
                        </form>
                        
                    </div>
                    <h2 v-else>{{username}} | Sala: {{room}}</h2>
                    <p v-if="ready">O turno atual é de: {{jogadorAtual}}</p>
                    <div class="card bg-info" v-if="ready">
                        <div class="card-header text-white">
                            <h4>Ações</h4>
                        </div>

                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="ajudaExterna" :disabled="coins>=10 || !isMyTurn">Ajuda externa</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="pegar2" :disabled="coins>=10  || !isMyTurn">Pegar 2</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="duque3" :disabled="coins>=10  || !isMyTurn">DUQUE - 3</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="ativarRoubo=!ativarRoubo" :disabled="coins>=10  || !isMyTurn">CAPITAO - Roubar 2</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="ativarAssassinar =!ativarAssassinar" :disabled="(coins<3 || coins>=10)  || !isMyTurn">ASSASSINO - Matar</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="embaixador" :disabled="coins>=10  || !isMyTurn">EMBAIXADOR - Olhar topo</button>
                        <button v-if="isAlive && jogoIniciado" type="button" class="btn btn-primary" @click.prevent="ativarGolpe = !ativarGolpe" :disabled="coins<7  || !isMyTurn">Golpe de Estado</button>
                    

                        <ul class="list-group list-group-flush" style="max-height: 300px; overflow-y: scroll;" ref="historicoMensagens">
                            <li class="list-group-item" v-for="message in messages">
                                <small>{{message.user}}:</small>
                                    {{message.message}}
                                </span>
                            </li>
                        </ul>    
                    </div>
                    <div v-if="isAlive">
                        <div v-if="blockText">
                            {{blockText}}
                            <button type="button" class="btn btn-primary" @click.prevent="bloquear(true, acao)">Sim</button>
                            <button type="button" class="btn btn-primary" @click.prevent="bloquear(false, acao)">Não</button>
                        </div>
                        <div v-if="influenciaText">
                            {{influenciaText}}
                            <button type="button" class="btn btn-primary" @click.prevent="duvidar(true)">Sim</button>
                            <button type="button" class="btn btn-primary" @click.prevent="duvidar(false)">Não</button>
                        </div>
                        <div v-if="ready">
                            <span v-if="provarText">{{provarText}}</span>
                            <span v-else-if="descartarText">{{descartarText}}</span>
                            Suas cartas são:
                            <ul>
                                <div v-if="provarText">
                                    <li  v-for="card of cards" @click.prevent="provar(card.name)">{{card.name}}</li>
                                </div>
                                <div v-else-if="descartarText">
                                    <li v-for="card of cards" @click.prevent="descartar(card)">{{card.name}}</li>
                                </div>
                                <div v-else>
                                    <li v-for="card of cards">{{card.name}}</li>
                                </div>
                            </ul>
                            Cartas Descartadas:
                            <ul>
                                <li v-for="card of discarded">{{card.name}}</li>
                            </ul>
                            Cartas Restantes no Monte: {{leftCards}}
                        </div>
                        <div v-if="ativarRoubo">
                            <p>Selecione o jogador que você deseja roubar 2 moedas</p>
                            <button v-for="player of info" v-if="player.coins>=2 && player.id != id" type="button" class="btn btn-primary" @click.prevent="roubar2(player)">{{player.username}}</button>                        
                        </div>
                        <div v-if="ativarAssassinar">
                            <p>Selecione o jogador que você deseja assassinar</p>
                            <button v-for="player of info" v-if="player.id != id" type="button" class="btn btn-primary" @click.prevent="assassinar(player)">{{player.username}}</button>                        
                        </div>
                        <div v-if="ativarGolpe">
                            <p>Selecione o jogador que você deseja aplicar um golpe de estado</p>
                            <button v-for="player of info" v-if="player.id != id" type="button" class="btn btn-primary" @click.prevent="golpeDeEstado(player)">{{player.username}}</button>                        
                        </div>
                        <div v-if="ativarEmbaixador">
                            <p>No momento você está com duas cartas do topo na mão. Selecione abaixo quais deseja devolver para o deck:</p>
                            Ficará no topo: <v-select :options="cards" label="name" v-model="firstSelection"></v-select>
                            Ficará abaixo do topo: <v-select label="name" :options="cards" v-model="secondSelection"></v-select>
                            <button class="btn btn-primary" @click.prevent="confirmarEmbaixador">Enviar</button>
                        </div>
                    </div>
                    <div v-else>
                        <p>Você perdeu o jogo</p>
                    </div>
                </div>
            </div>
        </div>
    
    </body>

    <script>
        var socket = io();
        Vue.component('v-select', VueSelect.VueSelect)
        let vue = new Vue({
            el: '#app',

            data: {
                newMessage: null,
                id: null,
                messages: [],
                username: null,
                room: null,
                ready: false,
                acao: '',
                info: [],
                cards: [],
                coins: 3,
                tipo: [],
                isUnblockable: true,
                ativarAssassinar: false,
                ativarEmbaixador: false,
                influenciaText: "",
                descartarText: "",
                blockText: '',
                ativarRoubo: false,
                ativarGolpe: false,
                firstSelection: {},
                secondSelection: {},
                isAlive: true,
                provarText: '',
                jogoIniciado: false,
                leftCards: 0,
                discarded: [],
                isMyTurn: false,
                jogadorAtual: ''
            },

            updated(){
                let scroll = this.$refs.historicoMensagens
                if(scroll)
                    scroll.scrollTop = scroll.clientHeight
            },

            mounted(){     
                this.ready = localStorage.ready
                
                if(localStorage.info){
                    this.info = JSON.parse(localStorage.info)
                }
                if(localStorage.cards){
                    this.cards = JSON.parse(localStorage.cards)
                }
                if(localStorage.coins){
                    this.coins = localStorage.coins
                }
                if(localStorage.username){
                    this.username = localStorage.username
                }
                if(localStorage.messages){
                    this.messages = JSON.parse(localStorage.messages)
                }
                if(localStorage.id){
                    this.id = localStorage.id
                }
                if(localStorage.room){
                    this.room = localStorage.room
                }
                if(localStorage.leftCards){
                    this.leftCards = localStorage.leftCards
                }
                if(localStorage.discarded){
                    this.discarded = localStorage.discarded
                }
                this.jogoIniciado = localStorage.jogoIniciado
            },

            created(){

                socket.on('turnoMudou', (data) => {
                    if(data.id == this.id)
                        this.isMyTurn = true

                    this.jogadorAtual = data.user
                })
                
                socket.on('chat-message', (data) => {
                    this.messages.push({
                        message: data.message,
                        user: data.user
                    });
                    localStorage.messages = JSON.stringify(this.messages)
                });

                socket.on('chanceDeBloqueio', (data) => {
                    this.acao = data.acao
                    this.blockText = "A influência do tipo " + data.tipo + " pode efetuar o bloqueio. Gostaria de bloquear?";
                });

                socket.on('perdeuOJogo', (data) => {
                    if(data.id == this.id)
                        this.isAlive = false
                })

                socket.on('declaracaoInfluencia', (data) => {
                    if(data.id != this.id){
                        this.influenciaText = "O jogador " + data.user + " declarou ser " + data.tipo + ". Deseja duvidar?";
                        this.tipo = data.tipo
                    }
                })

                socket.on('joined', (data) => {
                    for(player of data){
                        if(player.id == this.id){
                            this.coins = player.coins
                            localStorage.coins = this.coins
                        }
                    }
                    this.info = data;
                    localStorage.setItem('info', JSON.stringify(data));
                });

                socket.on('deckChanges', (data) => {
                    if(data.id == this.id){
                        this.cards = data.cards;
                        localStorage.setItem('cards', JSON.stringify(data.cards));
                    }
                });

                socket.on('provar', (data) => {
                    this.tipo = data.tipo;
                    if(data.id == this.id){
                        this.provarText = "Prove que é a influência declarada clicando na carta correspondente a ela."
                    }
                })

                socket.on('descartarCard', (data) => {
                    if(data.id == this.id){
                        this.descartarText = "Descarte uma das suas influências clicando na carta desejada."
                    }
                })

                socket.on('fimDeJogo', () => {
                    this.limparDados()
                })

                socket.on('podeOlhar', (data) =>{
                    if(this.id == data.id)
                        this.ativarEmbaixador = true;  
                })

                socket.on('salaNaoEncontrada', () => {
                    alert('Sala não encontrada para jogo')
                    this.limparDados()
                })

                socket.on('jaIniciou', () => {
                    alert('O jogo já iniciou, espere acabar')
                    this.limparDados()
                })

                socket.on('jogoIniciado', () => {
                    this.jogoIniciado = true
                    localStorage.jogoIniciado = true
                })

                socket.on('deckLength', (data) => {
                    this.leftCards = data.length
                    localStorage.leftCards = data.length
                })

                socket.on('discardedCards', (data) => {
                    this.discarded = data
                    localStorage.discarded = JSON.stringify(data)
                })

                socket.on('salaEncontrada', () => {
                    localStorage.room = this.room
                    this.id = this.uuidv4();
                    localStorage.id = this.id
                    localStorage.username = this.username
                    socket.emit('joined', {
                        username: this.username,
                        coins: this.coins,
                        room: this.room,
                        id: this.id
                    });
                    localStorage.ready = true;
                    this.ready = true;
                })

                socket.on('winner', (data) => {
                    if(data.id == this.id){
                        alert('Parabéns! Você foi o vencedor.')
                    }
                    this.limparDados();
                    socket.emit('reiniciarJogo')
                })

            },

            methods: {
                limparDados(){
                    this.id = null
                    this.username = null
                    this.info = []
                    this.cards = []
                    this.room = null
                    this.coins = 3
                    this.messages = []
                    this.discarded = []
                    this.ready = false
                    this.jogoIniciado = false
                    this.acao = null
                    this.tipo = []
                    this.isUnblockable = true
                    this.ativarAssassinar = false
                    this.ativarEmbaixador = false
                    this.influenciaText = null
                    this.descartarText = null
                    this.blockText = null
                    this.ativarRoubo = false
                    this.ativarGolpe = false
                    this.firstSelection = {}
                    this.secondSelection = {}
                    this.isAlive = true
                    this.provarText = null
                    this.leftCards = 0
                    this.isMyTurn = false
                    this.jogadorAtual = null
                    localStorage.clear()
                },

                ajudaExterna() {
                    socket.emit('ajuda-externa', {
                        user: this.username,
                        coins: this.coins,
                        id: this.id
                    });
                    this.isMyTurn = false
                },

                duque3(){
                    socket.emit('duque3', {
                        user: this.username,
                        coins: this.coins,
                        id: this.id
                    })
                    this.isMyTurn = false
                },

                pegar2(){
                    socket.emit('pegar2', {
                        user: this.username,
                        coins: this.coins,
                        id: this.id
                    })
                    this.isMyTurn = false
                },

                embaixador(){
                    socket.emit('embaixador', {
                        user: this.username,
                        id: this.id
                    })
                    this.isMyTurn = false
                },

                roubar2(player){
                    socket.emit('roubar2', {
                        user: this.username,
                        coins: this.coins,
                        id: this.id,
                        player: player
                    })
                    this.ativarRoubo = false
                    this.isMyTurn = false
                },

                assassinar(player){
                    socket.emit('assassinar', {
                        user: this.username,
                        id: this.id,
                        coins: this.coins,
                        player: player
                    })
                    this.ativarAssassinar = false
                    this.isMyTurn = false
                },

                bloquear(status, acao){
                    socket.emit('bloquear', {
                        user: this.username,
                        id: this.id,
                        status: status,
                        acao: acao
                    })
                    this.blockText = ""
                },

                duvidar(status){
                    socket.emit('duvidar', {
                        user: this.username,
                        id: this.id,
                        status: status,
                        tipo: this.tipo
                    })
                    this.influenciaText = ""
                },

                golpeDeEstado(player){
                    socket.emit('golpeDeEstado', {
                        user: this.username,
                        coins: this.coins,
                        id: this.id,
                        player: player
                    })
                    this.ativarGolpe = false
                    this.isMyTurn = false
                },

                sair(){
                    socket.emit('sair', {
                        id: this.id,
                        user: this.username
                    })
                },

                confirmarEmbaixador(){
                    if(this.firstSelection.id == this.secondSelection.id){
                        alert('Por favor selecione duas cartas distintas')
                        return
                    }
                    socket.emit('confirmacaoEmbaixador', {
                        firstSelection: this.firstSelection,
                        secondSelection: this.secondSelection,
                        id: this.id
                    })

                    this.ativarEmbaixador = false
                    this.firstSelection = {}
                    this.secondSelection = {}
                    this.isMyTurn = false
                },

                iniciar(){
                    socket.emit('iniciar')
                },

                provar(carta){
                    if(this.tipo.indexOf(carta) >= 0){
                        socket.emit('provaCorreta', {
                            id: this.id,
                            tipo: this.tipo,
                            user: this.username,
                            cardIndex: this.cards.findIndex(i => i.name == carta)
                        })
                    }else {                        
                        socket.emit('realizarDescarte', {
                            id: this.id,
                            cardIndex: this.cards.findIndex(i => i.name == carta),
                            user: this.username
                        })
                    }
                    this.provarText = ""
                },

                descartar(carta){
                    socket.emit('realizarDescarte', {
                        id: this.id,
                        cardIndex: this.cards.findIndex(i => i.id == carta.id),
                        user: this.username
                    })
                    this.tipo = []
                    this.descartarText = ""
                },

                addUser() {
                    socket.emit('room', {room: this.room})
                },

                uuidv4() {
                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });
                }
            },
        });
    </script>
</html>